# Data files, until go to release data
data/
vortexclust/__pycache__
vortexclust/analysis/__pycache__
vortexclust/core/__pycache__
vortexclust/io/__pycache__
vortexclust/models/__pycache__

# Default ignored files
/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.ipynb_checkpoints/
.idea
/gui/
